@import "@/styles/variables";

.counter {
	display: flex;
	overflow: hidden;
	margin: 0 $space-4;
}

.digitWrapper {
	overflow: hidden;
}

.digit {
	position: relative;
	width: 1ch;
	font-variant-numeric: tabular-nums;
}

.number {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
