@font-face {
	font-family: "Geist";
	src:
		url("/fonts/Geist/GeistVariableVF.woff2") format("woff2"),
		url("/fonts/Geist/GeistVariableVF.ttf") format("truetype");
}

@font-face {
	font-family: "Geist.Mono";
	src:
		url("/fonts/Geist.Mono/GeistMonoVariableVF.woff2") format("woff2"),
		url("/fonts/Geist.Mono/GeistMonoVariableVF.ttf") format("truetype");
}
